<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.samyotech.laundry">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".GlobalState"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,android:supportsRtl">
        <activity android:name=".ui.activity.OtpActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible"
           />
        <activity android:name=".ui.activity.SuksesRegisterActivity" />
        <activity
            android:name=".ui.activity.About"
            android:label="@string/title_activity_about" />
        <activity android:name=".ui.activity.AllServices" />
        <activity
            android:name=".ui.activity.NotificationActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.OrderDetails"
            android:launchMode="singleTop" />
        <activity android:name=".ui.activity.BookingConfirmActivity" />
        <activity android:name=".ui.activity.BookingPaymentActivity" />
        <activity android:name=".ui.activity.BookingPickDateTimeActivity" />
        <activity android:name=".ui.activity.BookingPickAddressActivity" />
        <activity android:name=".ui.activity.PreviewOrderActivity" />
        <activity android:name=".ui.activity.Schedule_Activity" />
        <activity
            android:name=".ui.activity.ShopAcitivity"
            android:launchMode="singleTop" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBjwJISIDoiwfMcS9ue6RwZ-GsvLhp2seg" />

        <activity
            android:name=".ui.activity.WelcomeScreens"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.ManageProfile"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.TicketChatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ForgotPassword"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.Login"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TopServices"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.Register"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ChatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TicketsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ChangPassword"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ChatList"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".utils.MainFragment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.IpayMuPayment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="WinLaundry">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="laundryapp.windigitalkhatulistiwa.com"
                    android:pathPrefix="/app"
                    android:scheme="http" />
                <!-- note that the leading "/" is required for pathPrefix -->
            </intent-filter>
            <intent-filter android:label="WinLaundry">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="winlaundry"
                    android:scheme="app" />
                <!-- note that the leading "/" is required for pathPrefix -->
            </intent-filter>
        </activity>
        <activity
            android:name="com.schibstedspain.leku.LocationPickerActivity"
            android:label="@string/leku_title_activity_location_picker"
            android:parentActivityName=".ui.activity.Dashboard"
            android:theme="@style/AppTheme.Map"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/leku_searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.Dashboard" />
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@mipmap/ic_launcher_round" />
            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
        </activity>
        <activity android:name=".ui.activity.ServiceActivity" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.samyotech.laundry.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <!--            android:permission="com.google.android.gms.auth.api.phone.permission.SEND"-->
        <!--            -->
        <receiver android:name=".widget.SmsBroadcastReceiver" android:exported="true"
            android:permission="com.google.android.gms.auth.api.phone.permission.SEND"
            >
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>